@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .hotel
    &-slider
      width: 590px
      // мое бордер радиус для псевдокласса - применяется к верхней и в целом с бордером для image все равботает
      &::after
        border-radius: 8px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
        // мое бордер 8 -но применяется только к нижней части во всех браузерах
        border-radius: 8px
  .card
    width: 230px
    height: 230px
@media (max-width: 992px)
  .container, 
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top 
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .search  
    &__input  
      width: 340px
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        max-width: 579px
        &:after,
        &:before
          display: none
    &__title
      font-size: 30px
  .activities 
    padding-bottom: 46px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
    &__title
      margin-bottom: 0
      margin-top: 0
  .card
    width: 339px
    height: 255px
    &__title
      font-size: 24px
      line-height: 30px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0

      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &__title
      font-size: 25px
      margin-bottom: 30px  
    &-slider
      &__item
        padding: 0 29px 36px 33px
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
  .card
    width: 280px
    min-height: 255px
    &__title
      font-size: 20px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &__title
      font-size: 24px
      line-height: 30px
@media (max-width: 619px)
  .card
    width: 48%
    min-height: 255px
    display: flex
    flex-direction: column
    object-fit: cover
    margin-right: 8px
    margin-bottom: 11px
    &__image
      object-fit: cover
@media (max-width: 600px)
  .card
    width: 257px
    height: 255px
    display: flex
    flex-direction: column
    object-fit: cover
    margin-left: auto
    margin-left: auto
    &__image
      object-fit: cover
@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 275px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
    &-title
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
  .card
    display: flex
    flex-direction: column
    width: 285px
    margin-left: auto
    margin-right: auto
    margin-bottom: 20px
    min-height: 255px
    object-fit: cover
    z-index: 100
    &__title
      font-size: 16px
      line-height: 20px
  .activities
    align-items: center
    background-color: $light
    z-index: -100
    &__title
      font-size: 19px
      line-height: 24px
@media (max-width: 376px)
  .activities
    &__title
      font-size: 19px
      line-height: 24px
  .card 
    &__title
      font-size: 16px
      line-height: 20px
@media (max-width: 320px) 
  .hotel
    padding-top: 0
    padding-bottom: 40px
    &-slider
      height: 179px
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
      margin-top: 0
    &-slider
      &__item
        margin-top: 10
  .card
    &__image
      width: 100%
      height: 100%
    &__title
      font-size: 16px
      line-height: 20px
  .activities
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
      padding-bottom: 0  
      margin-top: 0






