@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
  .hotel
    &-slider
      width: 590px
      // мое бордер радиус для псевдокласса - применяется к верхней и в целом с бордером для image все равботает
      &::after
        border-radius: 8px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
        // мое бордер 8 -но применяется только к нижней части во всех браузерах
        border-radius: 8px
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      &-group
        flex-basis: 47%

  .modal
    &__input
      &-group
        width: 100%
    &__button
      &-list
        display: flex
        flex-direction: column
        align-items: start
    &__info
      order: -1
      margin-bottom: 10px
      margin-top: 15px
    &__button
      margin-top: 0
    &__input
      &-group
        width: 100%
    &__dialog
      &--visible
        width: 100%
@media (max-width: 992px)
  
  .navbar
    &__search
      max-width: 320px
      padding-left: 0

  .footer
    padding-top: 73px
    padding-bottom: 33px
  .container, 
  .newsletter-wrapper
    max-width: 700px
   
  .logo
    width: 132px
  .navbar
    &-top 
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .hotel
    padding-bottom: 58px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .search  
    &__input  
      width: 340px
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        max-width: 579px
        &:after,
        &:before
          display: none
  .subscribe
    &__button
      font-size: 12px
      line-height: 15px
    &__title
      font-size: 30px
  .activities 
    padding-bottom: 46px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
    &__title
      margin-bottom: 0
      margin-top: 0
  .card
    width: 339px
    height: 255px
    &__title
      font-weight: bold
      font-size: 16px
      line-height: 20px
  .newsletter
    &-wrapper
      display: flex
      align-items: start
    &-title
      align-items: flex-start
      &__subscribe
        display: flex
        flex-direction: column
        justify-content: start
       
  .reviews
    &-slider
      &__profile
        margin-top: -30px
      &__item
        margin-top: 30px
    &__title
      margin-bottom: 50px

  .footer
    &-wrapper
      grid-gap: 20px 20px
    &__logo
      grid-row: 1 / 2
      margin-bottom: 19px
      width: 104px
      height: 120px
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: 2 / 5
        align-self: center
    &__categories
      grid-row: 2 / 3
      margin-right: 30px
      margin-bottom: 41px
    &__additional
      grid-column: 2 / 4
      margin-left: 10px
    &__contact
      &-details
        grid-row: 3
        grid-column: span 4
      &-form
        max-width: 539px
        grid-row: 4
        grid-column: span 4
        margin-bottom: 50px
    &__bottom
      grid-column: 1 / 3
      justify-self: start
      align-self: start
      &-link
        align-self: start
      &-image
        grid-column: 4
        align-self: start
        margin-left: auto
        margin-top: -10px
    &__title
      &--mb3
        margin-bottom: 20px
        padding-top: 0    
      &--mb34
        margin-top: 20px

  .modal
    &__info
      margin-top: 15px
@media (max-width: 870px)
  .footer
    &_legal
      margin-left: 0


@media (max-width: 767px)
  .body
    padding-top: 78px
  .breadcrumb
    padding-top: 78px
  .container
    max-width: 576px
    width: 92%
  .navbar
    // мобильная версия
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
      &--mobile
        &--visible
          margin-bottom: 7px
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
        padding-bottom: 69px
    &-menu
      flex-direction: column
      padding: 0
      &__item
        padding-bottom: 20px
        &--mobile
          &--visible
            display: block           
    &__search
      &--mobile
        &--visible
          max-width: 245px
          margin-bottom: 19px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      outline: 0
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0

      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
      border-radius: 8px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
    &-title
      margin-bottom: 18px
  .reviews
    &__title
      font-size: 25px
      margin-bottom: 30px  
    &-slider
      &__item
        padding: 0px 29px 36px 33px
      &__profile
        margin-top: -45px     
      &__button
        top: 35px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
  .swiper
    &-slide
      margin-top: 20px
  .card
    width: 280px
    min-height: 255px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &__title
      font-size: 24px
      line-height: 30px
  .footer
    &-wrapper
      grid-gap: 10px 10px
    &__logo
      margin-bottom: 39px
    &__categories
      margin-bottom: 80px
    &__contact
      &-details
        margin-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
    &__item
      font-size: 14px
      line-height: 160%
@media (max-width: 619px)
  .card
    width: 48%
    min-height: 255px
    display: flex
    flex-direction: column
    object-fit: cover
    margin-right: 8px
    margin-bottom: 11px
    &__image
      object-fit: cover
    &__title
      font-size: 16px
      line-height: 20px
    &__item
      font-size: 14px
      line-height: 160%
@media (max-width: 600px)
  .card
    width: 257px
    height: 255px
    display: flex
    flex-direction: column
    object-fit: cover
    margin-left: auto
    margin-left: auto
    &__image
      object-fit: cover
  .footer
    &__categories
      margin-right: 25px
    &__additional
      margin-right: 7px
      margin-left: 0
    &__title
      font-size: 17px
      line-height: 22px
    &__item,
    &__text
      font-size: 13px
      line-height: 150%
@media (max-width: 576px)
  .button,
  .link
    cursor: auto
  .card
    &__button
      cursor: auto
  .subscribe
    &__button
      cursor: auto
  .footer
    &__link
      cursor: auto
  .breadcrumb
    &-list
      &__link
        cursor: default
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 275px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 27px
      font-size: 20px
      line-height: 25px
      bottom: -50px
    &-title
      &__strong
        font-size: 30px
        line-height: 38px
  .card
    display: flex
    flex-direction: column
    width: 100%
    margin-left: auto
    margin-right: auto
    margin-bottom: 20px
    min-height: 255px
    object-fit: cover
    z-index: 10
    &__title
      font-size: 16px
      line-height: 20px
  .activities
    align-items: center
    background-color: $light
    z-index: -100
    &__title
      font-size: 19px
      line-height: 24px

  .footer
    &-wrapper
      flex-basis: 100%
      grid-column: 1fr 1fr 1fr
      grid-gap: 0 0 
    &__logo
      grid-row: 1
      width: 104px
      height: 120px
      margin-bottom: 49px
    &__social
      &-network
        display: flex
        flex-direction: column
        grid-row: 2
        grid-column: 1 / 3
        justify-self: start
        align-self: start
        margin-bottom: 30px
        width: 100%
    &_legal
      grid-row: 2
      grid-column: 3 / 5
      margin: 0 0 30px 0
    
    &__title
      &--inline
        margin-bottom: 20px 
    &__additional
      grid-row: 3
      grid-column: span 2
      margin-bottom: 30px
    &__categories
      grid-row: 3
      grid-column: 1 / 3
      margin-right: 40px
      margin-bottom: 50px
    &__contact
      &-details
        grid-row: 4
        grid-column: span 4
        flex-basis: 0
        margin-bottom: 40px
      &-form
        display: flex
        flex-flow: wrap
        margin-bottom: 0
        grid-row: 5
        grid-column: span 4
        padding: 0
        
    &__info
      grid-row: 8
      grid-column: span 4
      order: 1
      margin-bottom: 15px
    &__title
      &--mb3
        margin-bottom: 30px
    &__bottom
      grid-row: 6
      &-image
        grid-row: 7
        grid-column: span 4
        justify-self: start
    &__button
      order: 2
      margin-bottom: 30px
      &-list
        width: 100%
        display: flex
        justify-content: space-between
        flex-direction: column
        align-items: start
    &__input
      &-group
        flex-basis: 100%
        margin-bottom: 15px
    &__message
      margin-top: 0
    &__button
      &-list
        width: 100%
        display: flex
        justify-content: space-between
        flex-direction: column
        align-items: start
    &__bottom
      &-image
        grid-row: 7
        grid-column: 1 / 3
        justify-self: start
        margin: 0
    &__title
      font-size: 18px
      line-height: 23px
    &__item,
    &__text
      font-size: 14px
      line-height: 160%

@media (max-width: 480px)
  .footer
    padding-top: 69px
    padding-bottom: 25px
    &-wrapper
      flex-basis: 100%
      grid-gap: 0 0 
    &__logo
      grid-row: 1
      grid-column: 1 / 3 
      width: 104px
      height: 120px
      margin-bottom: 39px
    &__social
      &-network
        display: flex
        flex-direction: column
        grid-row: 2
        grid-column: span 4
        margin-bottom: 30px
        width: 100%
    &_legal
      grid-row: 3
      grid-column: span 4
      margin-bottom: 30px
    &__title
      &--inline
        margin-bottom: 20px 
    &__additional
      grid-row: 4
      grid-column: span 4
      margin-bottom: 30px
    &__categories
      grid-row: 5
      grid-column: span 4
      margin-bottom: 41px
    &__contact
      &-details
        grid-row: 6
        grid-column: 1 / 5
        flex-basis: 0
      &-form
        grid-row: 7
        grid-column: span 4
        padding: 0
    &__title
      &--mb3
        margin-bottom: 30px
    &__button
      margin-bottom: 6px
      &-list
        margin-bottom: 30px
    &__bottom
      grid-row: 8
      &-image
        grid-row: 9
        grid-column: span 4
        justify-self: start
    &__title
      font-size: 18px
      line-height: 23px
    &__item,
    &__text 
      font-size: 14px
      line-height: 160%
  .modal
    &__dialog
      &--visible
        padding-left: 78px
        padding-right: 78px

@media (max-width: 450px)
  .modal
    &__dialog
      &--visible
        padding-left: 68px
        padding-right: 68px
  .newsletter
    &__subscribe
      width: 100%
@media (max-width: 376px)
  .activities
    &__title
      font-size: 19px
      line-height: 24px
  .card 
    &__title
      font-size: 16px
      line-height: 20px
  .modal
    &__dialog
      &--visible
        padding-left: 58px
        padding-right: 58px
@media (max-width: 350px)
  .modal
    &__dialog
      &--visible
        padding-left: 48px
        padding-right: 48px
@media (max-width: 320px)  
  .stars
    position: absolute
    left: 70%
    top: 5%
  .hotel
    padding-top: 0
    padding-bottom: 0
    &__right
      
    &-slider
      height: 179px
    &-info
      margin-bottom: 20px
      &__offer
        margin-top: 6px
      &__name
        margin-top: 0

  .reviews
    &-slider
      margin-top: -10px
      &__profile
        margin-left: -20px
        margin-top: -40px

    &__text
      width: 219px
      margin: 0
      &__item
        margin-top: 47px 
    &__title
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
    &-slider
      &__button
        top: 40px
        &--prev
          margin-left: -99px
        &--next
          margin-right: -81px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
      margin-top: 0
    &-slider
      &__item
        margin-top: 45px
  .swiper
    &-slide
      margin-top: 10px

  .map
    width: 280px
    height: 172.94px
    position: absolute
    margin-top: 70%
  .booking
    margin-bottom: 15px
  .card
    &__image
      width: 100%
      height: 100%
    &__title
      font-size: 16px
      line-height: 20px
      margin-bottom: 18px
  .activities
    padding-top: 45px
    padding-bottom: 48px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
      padding-bottom: 0  
      margin-top: 0
  .newsletter
    &__title
      margin-bottom: 33px
  .footer
    padding-bottom: 0
    &__logo
      width: 104px
      height: 120px
      margin-top: 0
      margin-bottom: 30px
    &__title
      margin-bottom: 18px  
      &--mb34
        margin-top: 0
        margin-bottom: 16px
    &__button
      &-list
        margin-bottom: 20px
    &__bottom
      &-image
        grid-row: 9
        align-self: start
        justify-self: start
        justify-content: start
        margin-top: -12px
    &__message
      margin-bottom: 10px 
    &__contact
      &-details
        margin-bottom: 53px
        h1
@media (max-height: 487px)
  .modal
    &__dialog
      &--visible
        height: 100%
        overflow-y: auto
  .navbar
    &-bottom
      &--visible
        height: 100%
        overflow-y: auto
    

@media print 
  .gm-style .gmnoprint, 
  .gmnoprint 
    display: none
	

@media screen 
  .gm-style .gmnoscreen, 
  .gmnoscreen 
    display: none
	






